.nav {
    min-width: 100%;
    min-height: 3.2em;
    max-height: 5em;
    display: flex;
    background-color: lightgray;
    overflow-x: auto;
    white-space: nowrap;
}

.nav_item {
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 600;
    text-decoration: none;
    color: #135aa7;
    flex-shrink: 0;
    text-justify: center;
    text-align: center;
}
